*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h3{
        padding-bottom: 1%;
        order: 0;
    }
}

.instructions{
    top: 3%;
        position: absolute;
}

.hubble{
    height: 5%;
    position: absolute;
    top: 0%;
    left: 0%;
    animation: traverseDesktop 300s linear 0s infinite;
}

.hubble:hover{
    cursor: pointer;
}

.chevronLeft{
    width: 3%;
    z-index: 1;
    position: absolute;
    left: 28%;
    top: 48%;
    opacity: 50%;
}

.chevronRight{
    width: 3%;
    z-index: 1;
    position: absolute;
    right: 28%;
    top: 48%;
    opacity: 50%;

}

.chevronLeft:hover, .chevronRight:hover{
    opacity: 90%;
    cursor: pointer;
}



#imgConstellation{
    
    height: 28rem;
    width: 55rem;
    object-fit: cover;
    position: relative;
    order: 1;
    
}

#imgConstellation:hover{
    cursor: pointer;
}






/* animation */

@keyframes traverseDesktop {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    12% {
        transform: translateX(1000%) translateY(2000%);
    }
    25% {
        transform: translateX(2000%) translateY(100%);
    }
    37% {
        transform: translateX(3300%) translateY(2000%);
    }
    50% {
        transform: translateX(2000%) translateY(100%);
    }
    62% {
        transform: translateX(1000%) translateY(2000%);
    }

    100% {
        transform: translateX(0%);
        transform: translateY(0%);
    }
}
@keyframes traversePhone {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    12% {
        transform: translateX(300%) translateY(2000%);
    }
    25% {
        transform: translateX(600%) translateY(20%);
    }
    37% {
        transform: translateX(700%) translateY(2000%);
    }
    50% {
        transform: translateX(600%) translateY(20%);
    }
    62% {
        transform: translateX(300%) translateY(2000%);
    }
    100% {
        transform: translateX(0%);
        transform: translateY(0%);
    }
}

.traverseDesktop {
    animation: traverseDesktop 300s linear 0s infinite;
}

.traversePhone {
    animation: traversePhone 300s linear 0s infinite;
}



/* Modal */


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .modalHubbleContent {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%; 
    height: 50%;
    margin-left: 25%;
    margin-top: 12%;

   
  }

  
  /* .modalConstellationContent {
   background-color: #1e1b4b;
    
    width: 50%; 
    height: 95%;
    margin-left: 25%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    h2{
        padding-top: 2%;
    }
  
  } */

  /* .allInfo{
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 100%;
    img{
        width: 40%;
        height: 90%;   
        object-fit: cover;
       
    }
    
    
  }

  .alignInfoTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1%;
    min-height: 33%;
    
  }

  .infoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 90%;

  } */

  .accordion{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
  color:white;
  background-color: var(--main-bg-color);
  padding: 45px 45px;
    h1{
        text-align: center;
    }
  }

  .accordion .container {
    position: relative;
    margin: 10px 10px;
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .label {
    position: relative;
    padding: 3% 0;
    font-size: 30px;

    cursor: pointer;
  }

  .accordion .label::before {
    content: '+';

    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 2%;
    
    height: 0;
    
    width: 90%;
    overflow: hidden;
    transition: 0.5s;
    img{
        width: 60%;
        height: 45%;
        object-fit: cover;
    }
   
  }
  

  /* Adds a horizontal line between the contents */
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }

  .accordion .container.active .content {
    height: 50vh;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }

 .close{
    position: absolute;
    top: 5%;
    right: 27%;
    width: 2%;
    height: 5%;
    font-size: 2rem;
    color: white;
    background-color: var(--main-bg-color);
    border: none;
    cursor: pointer;
 }
 .close:hover{
    color: black
 }


  /* responsive design */

  .desktop{
    display: flex;
  }

  .phone{
    display: none;
  }
  
  @media (max-width: 600px) {

    .desktop{
      display: none;
    }

    .phone{
      display: flex;
    }
    #imgConstellation{
        margin-top: 30%;
        width: 100%;
        height: 23rem;
        order: 0;
    }

    h1{
        font-size: 1.75rem;
    }

  
    

    .moreInfo{
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-family: var(--text-font);
        border: none;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        order: 1;
        border-radius: 18px;
    
        
    }

    main{
       justify-content: space-evenly;
       gap: 8%;
       h2{
        position: relative;
        text-align: center;
        top: 1%;
        font-size: 1rem;
       }
       h3{
        order: 1;
       }
    }

    .chevronLeft{
        top: 78.5%;
        left: 35%;
        opacity: 90%;
        
        
    }

    .chevronRight{
        top: 78.5%;
        right: 35%;
        opacity: 90%;
    }

    .modalHubbleContent{
      margin-top: 20%;
      width: 100%;
      height: 50%;
      margin-left: 0%;
      margin-top: 35%;
        
        
    }

    .offScreenMenu{
        background-color: var(--main-bg-color);
        height: 50%;
        width: 55%;
        position: fixed;
        top: 7%;
        z-index: 1;
        right: -450px;
        
        transition: .3s ease;
        
        
    }
    
    .links{
        padding-top: 8%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        div{
            height: 10%;

        }
        
    }

    .starMenu{
        width: 10%;
        height: auto;
        margin-right: -8%;
        padding-bottom: 10%;
        
    }

    .offScreenMenu.active{
        right: 0;
    }

    nav{
        padding: 1rem;
        display: flex;
        background-color: var(--main-bg-color);
    }

    .burgerMenu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        span{
            height: 5px;
            width: 70%;
            background-color: white;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s ease;
        }
        span:nth-child(1){
            top: 25%;
        }

        span:nth-child(3){
            top: 75%;
        }

        
    }

    .burgerMenu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .burgerMenu.active span:nth-child(2){
        display: none;
    }

    .burgerMenu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .hubble{
        animation: traversePhone 300s linear 0s infinite;
    }

    .accordion{
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
      color:white;
      background-color: var(--main-bg-color);
      padding: 45px 45px;
        h1{
            text-align: center;
            font-size: 2rem;
            padding-bottom: 3%;
        }
      }

      .accordion .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        gap: 2%;
        
        height: 0;
        
        width: 90%;
        overflow: hidden;
        transition: 0.5s;
        img{
            width: 100%;
            height: 40%;
            object-fit: cover;
        }
       

      
       
       
      }

    
    
  }