.home{
    width: 13%;
}



main{
    display: flex;
    justify-content: center;
    
    gap: 8%;
    padding-top: 2%;
    padding: 1%;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        
        gap: 10%;
  
        background-color: rgba(30, 27, 75, 0.1);
        h3{
            padding-bottom: 2%;
        }
        /* div{
            padding-bottom: 1%;
        } */

        
        

    }
    
}

.season{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .containerName {
        width: 30%; /* ajouté */
        padding: 4px; /* ajouté */
        display: flex;
        align-items: center;
        gap: 1%;
        
       
    }
    
}



.whiteStar{
    width: 10%;
}

.containerName:hover{
    cursor: pointer;
}

.close{
    padding: 1%;

}

.seasonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px){
    
}